.box {
   width: 200px;
   height: 150px;
   background-color: blueviolet;
   border-radius: 20px;
}

.scroller {
   /* overflow-x: scroll;
   margin: 0 auto;*/
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}

.scroller > div {
   margin-left: 20px;
}

.scrollerContainer {
   width: 58%;
   margin: 0 auto;
   overflow-x: scroll;
}

.main_carousel {
   width: 60%;
   margin: 0 auto;
}
.carousel {
   cursor: grab;
   overflow: hidden;
}

.inner_carousel {
   display: flex;
}

.item {
   padding: 15px;
}

.item img {
   width: 15rem;
   height: 10rem;
   border-radius: 2rem;
   pointer-events: none;
   border: 1px solid rgb(70, 70, 70);
}

.heart_box {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 20px;
   position: relative;
   bottom: 40px;
   right: 16px;
}

.not_selected {
   color: white;
   cursor: pointer;
}

.selected {
   cursor: pointer;
   color: red;
}
