.search_bar {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #ccc;
   padding: 6px;
   border-radius: 30px;
   margin-left: 300px;
   width: 50%;
}

.search_icon {
   cursor: pointer;
}

.search_input {
   background-color: transparent;
   color: whitesmoke;
   border: none;
   font-size: 0.95rem;
   outline: none;
   width: 100%;
}

.filtered {
   color: whitesmoke;
}

@media (max-width: 640px) {
   .search_bar {
      margin-left: 0px;
      width: 80%;
   }
}
