.App {
   text-align: center;
   background-color: #1c1c1c;
}

.App-header {
   align-items: center;
   justify-content: center;
   font-size: calc(11px + 2vmin);
   color: white;
}

h1,
h2 {
   font-weight: normal;
}

.App-link {
   color: #61dafb;
}
